/autoware/src/*
!/autoware/src/our_packages/
/autoware/build/
/autoware/install/
/autoware/log/
/simulator/AWSIM/
/data/
/.stfolder/

# LaTeX/PDF build outputs
/tex/generated/
/tex/output/
*.pdf
*.aux
*.log
*.out
*.toc
*.lof
*.lot
